:root {

  --bg-light: #e5e5e5;

  --primary-color: #036b52;

  --secondary-color: #2fc18c;

  --tertiary-color: #421981;

  --quaternary-color: #056cf9;

  --dark-text: #001813;

  --light-text: #f2fffc;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
